<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <h1 class="title">Welcome to Movies API</h1>
         </div>
      <div class="list-group list-group-flush">
        <a href="api/Films" class="list-group-item list-group-item-action bg-light">Add a movie</a>
        <a href="api/delete" class="list-group-item list-group-item-action bg-light">Delete a movie</a>
        <a href="api/modify" class="list-group-item list-group-item-action bg-light">Modify a movie</a>
        <a href="api/all" class="list-group-item list-group-item-action bg-light">List Movies</a>
      </div>
    </div>
    <div id="links" class="list-group list-group-flush">
      <a href="https://github.com/Mavroian/Api-Project" class="list-group-item list-group-item-action bg-light"> Check the Git Hub</a>
        <a href="https://www.facebook.com/florin.mavroian" class="list-group-item list-group-item-action bg-light">Check the Facebook</a>
        <a href="www.linkedin.com/in/florin-mavroian" class="list-group-item list-group-item-action bg-light">Check the LinkedIn</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Check the Documentation</a>
    </div>
    <footer id="footer">
            <p>Created by  &copy Mavroian Florin 2019</p>
        </footer>
    

  
    